<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Food Campus</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase.js"></script>

  <link href="{{ url_for('static',filename='css/sb-admin.css') }}" rel="stylesheet">
  <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

</head>

<body id="page-top">

{{ top_nav|safe }}

<div id="wrapper">
  <!-- Sidebar -->
  {{ side_nav|safe }}

  <div id="content-wrapper" >

    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <a href="#">Home</a>
        </li>
      </ol>

      <!-- Icon Cards-->
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-list"></i>
              </div>
              <div class="mr-5">Pipetting Tutorial</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="/upload">
              <span class="float-left">View Details</span>
              <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
            </a>
          </div>
        </div>
      </div>

      <!-- Area Chart Example-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-area"></i>
          Homepage</div>
        <div class="card-body">
          <h1 id="user">HomePage</h1>
        </div>
      </div>

      <!-- DataTables Example -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          History</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th>Restaurant</th>
                <th>Order</th>
                <th>Price</th>
                <th>Popularity</th>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <th>Restaurant</th>
                <th>Order</th>
                <th>Price</th>
                <th>Popularity</th>
              </tr>
              </tfoot>
              {% for option in options %}
              <tbody>
              <tr>
                <td>{{ option['\ufeffname'] }}</td>
                <td>{{ option['item'] }}</td>
                <td>{{ option['cash_price'] }}</td>
                <td>{{ option['popularity'] }}</td>
              </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>

    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © Nathan and Kelly</span>
        </div>
      </div>
    </footer>

  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ url_for('static',filename='js/sb-admin.min.js') }}"></script>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="{{ url_for('static', filename='js/firebase_js.js') }}"></script>


</body>

</html>
