<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1,user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Deliver</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/simple-sidebar.css')}}" rel="stylesheet">

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase.js"></script>

    <link href="{{ url_for('static',filename='css/sb-admin.css') }}" rel="stylesheet">

    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />


    <style>
  body {
    margin: 0;
    padding: 0;
  }

  table {
  width:100%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
   background-color: #fff;
  }
  table#t01 th {
    background-color: black;
    color: white;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .marker-restaurant {
      background-image: url('/static/images/restaurant-15.svg');
      background-size: cover;
      width: 25px;
      height: 25px;
      /*border-radius: 50%;*/
      cursor: pointer;
    }
    .marker-meetup {
      background-image: url('/static/images/marker-15.svg');
      background-size: cover;
      width: 20px;
      height: 20px;
      /*border-radius: 50%;*/
      cursor: pointer;
    }
  #meetup-marker-popup {
    height: 100px;
    width: 100px;
    display: none;
    background-color: white;
    z-index: 100000000000000000000000000000000000000;

        position: relative;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 15px;
  pointer-events: auto;
  }
    * {
    box-sizing: border-box;
  }

  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 15px;
    position:relative;
    height:100%;
  }

  .column2 {
    float: left;
    width: 50%;
    padding: 25px;
    position:relative;
    height:100%;
  }

  /* Clear floats after the columns */
  .row {
    position:relative;
    height:100%;
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  </style>

</head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">FoodCampus Interface</div>
        <div class="list-group list-group-flush">
            <a href="/payment" class="list-group-item list-group-item-action bg-light">Payment</a>
            <a href="/user" class="list-group-item list-group-item-action bg-light">Buyer</a>
            <a href="/" class="list-group-item list-group-item-action bg-light">Logout/Home</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Hide Menu</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('static', filename='#')}}">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="column">
                <div id="meetup-marker-popup"></div>
                <div id='map'></div>

                <script>

    const restaurantList = [
    {
      "name": "<strong>Brazil Cafe</strong> \u2022 Tri tip Sandwich $8.25 \u2022 Tri tip Plate $9.99 \u2022 Pedro's Favorite Tri tip Sandwich $9.99 \u2022 Pedro's Favorite Tri tip Sandwich $8.99 ",
      "latitude": 37.86824,
      "longitude": -122.25806
    },
    // {
    //   "name": "Taco Sinaloa \u2022 Super Burrito $14 \u2022 Burrito Bowl $9 \u2022 Tostada $6 \u2022 Torta $8 \u2022 Quesadilla de Carne $8.50",
    //   "latitude": 37.86717,
    //   "longitude": -122.25892
    // },
    {
      "name": "Imm Thai Street Food \u2022 Pad Thai $10 \u2022 Pad See Ew $10 \u2022 Pad Kee Mao $10 \u2022 Duck Noodle Soup $12 \u2022 Green Curry $11",
      "latitude": 37.87196,
      "longitude": -122.27059
    },
    // {
    //   "name": "Gypsy's Trattoria Italiana \u2022 Crazy Alfredo $10.99 \u2022 Melanzana Con Pollo $10.99 \u2022 Godfather's favorite $10.99 \u2022 Funghi $8.49 \u2022 Lasagna $10.99",
    //   "latitude": 37.868213,
    //   "longitude": -122.258032
    // },
    {
      "name": "Fire Wings \u2022 Garlic Noodles (Reg) $4.99 \u2022 Saigon Street Wings (10) $10.99 \u2022 Salt and Pepper Wings (10) $10.99 \u2022 Thai Chili Wings (10) $8.49 \u2022 Boneless Wings (10) $10.99",
      "latitude": 37.87165,
      "longitude": -122.26807
    },
    {
      "name": "Super Duper Burger \u2022 Mini Burger $5.75 \u2022 Super Burger $8.25 \u2022 Coffee $2.50 \u2022 Chicken Sandwich $8 ",
      "latitude": 37.867668,
      "longitude": -122.258827
    },
    {
      "name": "KoJa Kitchen \u2022 Short Rib Bowl $13.19 \u2022 Beef Koja $10.59 \u2022 Chicken Koja $9.39 \u2022 Braised Pork Koja $10.89",
      "latitude": 37.8671,
      "longitude": -122.25869
    },
    { 
      "name": "Mezzo \u2022 Veggie Delight $10.75 \u2022 Veggie Delight $11.20 \u2022 Marinated Tofu Sandwich $10.50 \u2022 Roast Beef Sandwich $10.50",
      "latitude": 37.866131,
      "longitude": -122.258698
    },
    {
      "name": "Top Dog \u2022 Top Dog Frankfurter $3.75 \u2022 Top Dog Frankfurter $3.75 \u2022 Bockwurst (German) $3.75 \u2022 Bockwurst (German) $3.75 \u2022 Kielbasa (Polish) $3.75",
      "latitude": 37.867771,
      "longitude": -122.257408
    },
    {
      "name": "Chipotle \u2022 Chicken Bowl $7.90 \u2022 Chicken Burrito $7.90 \u2022 Steak Bowl $8.90 \u2022 Veggie Bowl $7.90",
      "latitude": 37.86838,
      "longitude": -122.25896
    },
    {
      "name": "Thai Basil \u2022 Green Curry Chicken $7.99 \u2022 Red Curry Chicken $7.99 \u2022 Pad Thai $8.22 \u2022 Pad See-ew Chicken $7.77 \u2022 Tom-Yum (Chicken or Vegetable) $6.40",
      "latitude": 37.86824,
      "longitude": -122.25806
    }
  ];

    const meetupList = [
    {
      "location": "Meet at Li Ka Shing !",
      "latitude": 37.87295843,
      "longitude": -122.2654381
    },
    {
      "location": "Meet at Valley Life Sciences Building !",
      "latitude": 37.87142575,
      "longitude": -122.2632638
    },
    {
      "location": "Meet at Recreational Sports Facility !",
      "latitude": 37.86867438,
      "longitude": -122.2627607
    },
    {
      "location": "Meet at Eshleman Hall !",
      "latitude": 37.86875285,
      "longitude": -122.2603671
    },
    {
      "location": "Meet at Haas School of Business !",
      "latitude": 37.87156086,
      "longitude": -122.2536357
    },
    {
      "location": "Meet at Evans Hall !",
      "latitude": 37.87362363,
      "longitude": -122.2578512
    },
    {
      "location": "Meet at Bancroft Library !",
      "latitude": 37.87230233353178,
      "longitude": -122.25887489474175
    },
    {
      "location": "Meet at Soda Hall !",
      "latitude": 37.87561268,
      "longitude": -122.258722
    },
    {
      "location": "Meet at Wurster Hall !",
      "latitude": 37.87053656,
      "longitude": -122.2549009
    }
  ];

    mapboxgl.accessToken = 'pk.eyJ1Ijoia2VsbHlodWFuZyIsImEiOiJjazI3dnZ6dTExODR2M2NwZWgxOW5maXlrIn0.RtWUeLy_ygw4eXGnty16Tg'; // replace this with your access token
    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/kellyhuang/ck27xup9f1skk1cl3upjhckde', // replace this with your style URL
      center: [-122.260881, 37.8709],
      zoom: 15
    });

/* working placement of icons */
    const setupCustomPopup = (content) => {
      return new mapboxgl.Popup({ offset: 25 })
    .setText(content);
    }   

    // code from the next step will go here
  //   restaurantList.forEach((location) => {
   //   let el = document.createElement('div');
  //    el.className = 'marker-restaurant';
  //    new mapboxgl.Marker(el)
    // .setLngLat([location.longitude, location.latitude])
    // .setPopup(setupCustomPopup(location.name))
    // .addTo(map);
  //   });


    meetupList.forEach((meetup_loc) => {
      let el = document.createElement('div');
      el.className = 'marker-meetup';
      el.setAttribute('data-location-name', meetup_loc.location);

      new mapboxgl.Marker(el)
      .setLngLat([meetup_loc.longitude, meetup_loc.latitude])
      .setPopup(setupCustomPopup(meetup_loc.location))
      .addTo(map);
    });

/* working placement of icons */
    map.on('load', function() {
        map.addSource('trees', {
        type: 'geojson',
       //  data: {
          // "type": "FeatureCollection",
          // "features": [{
          //  "type": "Feature",
          //  "properties": {
          //    "description": "<strong>Li Ka Shing</strong><p>Meet me here!</p>",
          //    "icon": "marker"
          //  },
          //  "geometry": {
          //    "type": "Point",
          //    "coordinates": [-122.2654381, 37.87295843]
          //  }
          // }, {
          //  "type": "Feature",
          //  "properties": {
          //    "description": "<strong>Valley Life Sciences Building</strong><p>Meet me here!</p>",
          //    "icon": "marker"
          //  },
          //  "geometry": {
          //    "type": "Point",
          //    "coordinates": [-122.2632638, 37.87142575]
          //  }
          // }, {
          //  "type": "Feature",
          //  "properties": {
          //    "description": "<strong>Recreational Sports Facility</strong><p>Meet me here!</p>",
          //    "icon": "marker"
          //  },
          //  "geometry": {
          //    "type": "Point",
          //    "coordinates": [-122.2627607, 37.86867438]
          //  }
          // }, {
          //  "type": "Feature",
          //  "properties": {
          //    "description": "<strong>Eshleman Hall</strong><p>Meet me here!</p>",
          //    "icon": "marker"
          //  },
          //  "geometry": {
          //    "type": "Point",
          //    "coordinates": [-122.2603671, 37.86875285]
          //  }
          // }, {
          //  "type": "Feature",
          //  "properties": {
          //    "description": "<strong>Haas School of Business</strong><p>Meet me here!</p>",
          //    "icon": "marker"
          //  },
          //  "geometry": {
          //    "type": "Point",
          //    "coordinates": [-122.2536357, 37.87156086]
          //  }
          // }, {
          //  "type": "Feature",
          //  "properties": {
          //    "description": "<strong>Evan Hall</strong><p>Meet me here!</p>",
          //    "icon": "marker"
          //  },
          //  "geometry": {
          //    "type": "Point",
          //    "coordinates": [-122.2578512, 37.87362363]
          //  }
          // }, {
          //  "type": "Feature",
          //  "properties": {
          //    "description": "<strong>Soda Hall</strong><p>Meet me here!</p>",
          //    "icon": "marker"
          //  },
          //  "geometry": {
          //    "type": "Point",
          //    "coordinates": [-122.258722, 37.87561268]
          //  }
          // }, {
          //  "type": "Feature",
          //  "properties": {
          //    "description": "<strong>Wurster Hall</strong><p>Meet me here!</p>",
          //    "icon": "marker"
          //  },
          //  "geometry": {
          //    "type": "Point",
          //    "coordinates": [-122.2549009, 37.87053656]
          //  }
          // }, ]
         //  }
        data: {
            "id": "1",
          "type": "FeatureCollection",
          "features": [{
            "type": "Feature",
            "properties": {
              "description": "<strong>Brazil Cafe</strong> <br/> <i>Popularity: 2</i> <p> \u2022 Tri tip Sandwich $8.25 <br />\u2022 Tri tip Plate $9.99 <br />\u2022 Pedro's Favorite Tri tip Sandwich $9.99 <br />\u2022 Pedro's Favorite Tri tip Sandwich $8.99 </p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.25806, 37.86824]
            }
          }, {
            "id": "2",
            "type": "Feature",
            "properties": {
              "description": "<strong>Imm Thai Street Food</strong><br/> <i>Popularity: 9</i><p>\u2022 Pad Thai $10 <br />\u2022 Pad See Ew $10 <br />\u2022 Pad Kee Mao $10 <br />\u2022 Duck Noodle Soup $12 <br />\u2022 Green Curry $11</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.27059, 37.87196]
            }
          },{
            "id": "2",
            "type": "Feature",
            "properties": {
              "description": "<strong>Imm Thai Street Food</strong><p>\u2022 Pad Thai $10 <br />\u2022 Pad See Ew $10 <br />\u2022 Pad Kee Mao $10 <br />\u2022 Duck Noodle Soup $12 <br />\u2022 Green Curry $11</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.27059, 37.87196]
            }
          },{
            "id": "2",
            "type": "Feature",
            "properties": {
              "description": "<strong>Imm Thai Street Food</strong><p>\u2022 Pad Thai $10 <br />\u2022 Pad See Ew $10 <br />\u2022 Pad Kee Mao $10 <br />\u2022 Duck Noodle Soup $12 <br />\u2022 Green Curry $11</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.27059, 37.87196]
            }
          },{
            "id": "2",
            "type": "Feature",
            "properties": {
              "description": "<strong>Imm Thai Street Food</strong><p>\u2022 Pad Thai $10 <br />\u2022 Pad See Ew $10 <br />\u2022 Pad Kee Mao $10 <br />\u2022 Duck Noodle Soup $12 <br />\u2022 Green Curry $11</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.27059, 37.87196]
            }
          },{
            "id": "2",
            "type": "Feature",
            "properties": {
              "description": "<strong>Imm Thai Street Food</strong><p>\u2022 Pad Thai $10 <br />\u2022 Pad See Ew $10 <br />\u2022 Pad Kee Mao $10 <br />\u2022 Duck Noodle Soup $12 <br />\u2022 Green Curry $11</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.27059, 37.87196]
            }
          },{
            "id": "2",
            "type": "Feature",
            "properties": {
              "description": "<strong>Imm Thai Street Food</strong><p>\u2022 Pad Thai $10 <br />\u2022 Pad See Ew $10 <br />\u2022 Pad Kee Mao $10 <br />\u2022 Duck Noodle Soup $12 <br />\u2022 Green Curry $11</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.27059, 37.87196]
            }
          },{
            "id": "2",
            "type": "Feature",
            "properties": {
              "description": "<strong>Imm Thai Street Food</strong><p>\u2022 Pad Thai $10 <br />\u2022 Pad See Ew $10 <br />\u2022 Pad Kee Mao $10 <br />\u2022 Duck Noodle Soup $12 <br />\u2022 Green Curry $11</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.27059, 37.87196]
            }
          }, {
            "id": "3",
            "type": "Feature",
            "properties": {
              "description": "<strong>Fire Wings </strong><br/> <i>Popularity: 2</i><p>\u2022 Garlic Noodles (Reg) $4.99 <br />\u2022 Saigon Street Wings (10) $10.99 <br />\u2022 Salt and Pepper Wings (10) $10.99 <br />\u2022 Thai Chili Wings (10) $8.49 <br />\u2022 Boneless Wings (10) $10.99</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.26807, 37.87165]
            }
          }, {
            "id": "4",
            "type": "Feature",
            "properties": {
              "description": "<strong>Super Duper Burger</strong><br/> <i>Popularity: 7</i><p>\u2022 Mini Burger $5.75 <br />\u2022 Super Burger $8.25 <br />\u2022 Coffee $2.50 <br />\u2022 Chicken Sandwich $8</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.258827, 37.867668]
            }
          }, {
            "id": "4",
            "type": "Feature",
            "properties": {
              "description": "<strong>Super Duper Burger</strong><p>\u2022 Mini Burger $5.75 <br />\u2022 Super Burger $8.25 <br />\u2022 Coffee $2.50 <br />\u2022 Chicken Sandwich $8</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.258827, 37.867668]
            }
          }, {
            "id": "4",
            "type": "Feature",
            "properties": {
              "description": "<strong>Super Duper Burger</strong><p>\u2022 Mini Burger $5.75 <br />\u2022 Super Burger $8.25 <br />\u2022 Coffee $2.50 <br />\u2022 Chicken Sandwich $8</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.258827, 37.867668]
            }
          }, {
            "id": "4",
            "type": "Feature",
            "properties": {
              "description": "<strong>Super Duper Burger</strong><p>\u2022 Mini Burger $5.75 <br />\u2022 Super Burger $8.25 <br />\u2022 Coffee $2.50 <br />\u2022 Chicken Sandwich $8</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.258827, 37.867668]
            }
          }, {
            "id": "4",
            "type": "Feature",
            "properties": {
              "description": "<strong>Super Duper Burger</strong><p>\u2022 Mini Burger $5.75 <br />\u2022 Super Burger $8.25 <br />\u2022 Coffee $2.50 <br />\u2022 Chicken Sandwich $8</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.258827, 37.867668]
            }
          }, {
            "id": "4",
            "type": "Feature",
            "properties": {
              "description": "<strong>Super Duper Burger</strong><p>\u2022 Mini Burger $5.75 <br />\u2022 Super Burger $8.25 <br />\u2022 Coffee $2.50 <br />\u2022 Chicken Sandwich $8</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.258827, 37.867668]
            }
          }, {
            "id": "5",
            "type": "Feature",
            "properties": {
              "description": "<strong>KoJa Kitchen</strong><br/> <i>Popularity: 5</i><p>\u2022 Short Rib Bowl $13.19 <br />\u2022 Beef Koja $10.59 <br />\u2022 Chicken Koja $9.39 <br />\u2022 Braised Pork Koja $10.89</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.25869, 37.8671]
            }
          }, {
            "id": "5",
            "type": "Feature",
            "properties": {
              "description": "<strong>KoJa Kitchen</strong><p>\u2022 Short Rib Bowl $13.19 <br />\u2022 Beef Koja $10.59 <br />\u2022 Chicken Koja $9.39 <br />\u2022 Braised Pork Koja $10.89</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.25869, 37.8671]
            }
          }, {
            "id": "6",
            "type": "Feature",
            "properties": {
              "description": "<strong>Mezzo</strong><br/> <i>Popularity: 1</i><p>\u2022 Veggie Delight $10.75 <br />\u2022 Veggie Delight $11.20 <br />\u2022 Marinated Tofu Sandwich $10.50 <br />\u2022 Roast Beef Sandwich $10.50</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.258698, 37.866131]
            }
          }, {
            "id": "7",
            "type": "Feature",
            "properties": {
              "description": "<strong>Top Dog </strong><br/> <i>Popularity: 4</i><p>\u2022 Top Dog Frankfurter $3.75 <br />\u2022 Top Dog Frankfurter $3.75 <br />\u2022 Bockwurst (German) $3.75 <br />\u2022 Bockwurst (German) $3.75 <br />\u2022 Kielbasa (Polish) $3.75</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.257408, 37.867771]
            }
          }, {
            "id": "7",
            "type": "Feature",
            "properties": {
              "description": "<strong>Top Dog </strong><p>\u2022 Top Dog Frankfurter $3.75 <br />\u2022 Top Dog Frankfurter $3.75 <br />\u2022 Bockwurst (German) $3.75 <br />\u2022 Bockwurst (German) $3.75 <br />\u2022 Kielbasa (Polish) $3.75</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.257408, 37.867771]
            }
          }, {
            "id": "7",
            "type": "Feature",
            "properties": {
              "description": "<strong>Top Dog </strong><p>\u2022 Top Dog Frankfurter $3.75 <br />\u2022 Top Dog Frankfurter $3.75 <br />\u2022 Bockwurst (German) $3.75 <br />\u2022 Bockwurst (German) $3.75 <br />\u2022 Kielbasa (Polish) $3.75</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.257408, 37.867771]
            }
          }, {
            "id": "8",
            "type": "Feature",
            "properties": {
              "description": "<strong>Chipotle</strong><br/> <i>Popularity: 10</i><p>\u2022 Chicken Bowl $7.90 <br />\u2022 Chicken Burrito $7.90 <br />\u2022 Steak Bowl $8.90 <br />\u2022 Veggie Bowl $7.90</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.25896, 37.86838]
            }
          }, {
            "id": "8",
            "type": "Feature",
            "properties": {
              "description": "<strong>Chipotle</strong><p>\u2022 Chicken Bowl $7.90 <br />\u2022 Chicken Burrito $7.90 <br />\u2022 Steak Bowl $8.90 <br />\u2022 Veggie Bowl $7.90</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.25896, 37.86838]
            }
          }, {
            "id": "8",
            "type": "Feature",
            "properties": {
              "description": "<strong>Chipotle</strong><p>\u2022 Chicken Bowl $7.90 <br />\u2022 Chicken Burrito $7.90 <br />\u2022 Steak Bowl $8.90 <br />\u2022 Veggie Bowl $7.90</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.25896, 37.86838]
            }
          }, {
            "id": "8",
            "type": "Feature",
            "properties": {
              "description": "<strong>Chipotle</strong><p>\u2022 Chicken Bowl $7.90 <br />\u2022 Chicken Burrito $7.90 <br />\u2022 Steak Bowl $8.90 <br />\u2022 Veggie Bowl $7.90</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.25896, 37.86838]
            }
          }, {
            "id": "8",
            "type": "Feature",
            "properties": {
              "description": "<strong>Chipotle</strong><p>\u2022 Chicken Bowl $7.90 <br />\u2022 Chicken Burrito $7.90 <br />\u2022 Steak Bowl $8.90 <br />\u2022 Veggie Bowl $7.90</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.25896, 37.86838]
            }
          }, {
            "id": "8",
            "type": "Feature",
            "properties": {
              "description": "<strong>Chipotle</strong><p>\u2022 Chicken Bowl $7.90 <br />\u2022 Chicken Burrito $7.90 <br />\u2022 Steak Bowl $8.90 <br />\u2022 Veggie Bowl $7.90</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.25896, 37.86838]
            }
          }, {
            "id": "8",
            "type": "Feature",
            "properties": {
              "description": "<strong>Chipotle</strong><p>\u2022 Chicken Bowl $7.90 <br />\u2022 Chicken Burrito $7.90 <br />\u2022 Steak Bowl $8.90 <br />\u2022 Veggie Bowl $7.90</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.25896, 37.86838]
            }
          }, {
            "id": "8",
            "type": "Feature",
            "properties": {
              "description": "<strong>Chipotle</strong><p>\u2022 Chicken Bowl $7.90 <br />\u2022 Chicken Burrito $7.90 <br />\u2022 Steak Bowl $8.90 <br />\u2022 Veggie Bowl $7.90</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.25896, 37.86838]
            }
          }, {
            "id": "8",
            "type": "Feature",
            "properties": {
              "description": "<strong>Chipotle</strong><p>\u2022 Chicken Bowl $7.90 <br />\u2022 Chicken Burrito $7.90 <br />\u2022 Steak Bowl $8.90 <br />\u2022 Veggie Bowl $7.90</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.25896, 37.86838]
            }
          }, {
            "id": "8",
            "type": "Feature",
            "properties": {
              "description": "<strong>Chipotle</strong><p>\u2022 Chicken Bowl $7.90 <br />\u2022 Chicken Burrito $7.90 <br />\u2022 Steak Bowl $8.90 <br />\u2022 Veggie Bowl $7.90</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.25896, 37.86838]
            }
          }, {
            "id": "8",
            "type": "Feature",
            "properties": {
              "description": "<strong>Chipotle</strong><p>\u2022 Chicken Bowl $7.90 <br />\u2022 Chicken Burrito $7.90 <br />\u2022 Steak Bowl $8.90 <br />\u2022 Veggie Bowl $7.90</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.25896, 37.86838]
            }
          }, {
            "id": "8",
            "type": "Feature",
            "properties": {
              "description": "<strong>Chipotle</strong><p>\u2022 Chicken Bowl $7.90 <br />\u2022 Chicken Burrito $7.90 <br />\u2022 Steak Bowl $8.90 <br />\u2022 Veggie Bowl $7.90</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.25896, 37.86838]
            }
          }, {
            "id": "8",
            "type": "Feature",
            "properties": {
              "description": "<strong>Chipotle</strong><p>\u2022 Chicken Bowl $7.90 <br />\u2022 Chicken Burrito $7.90 <br />\u2022 Steak Bowl $8.90 <br />\u2022 Veggie Bowl $7.90</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.25896, 37.86838]
            }
          }, {
            "id": "8",
            "type": "Feature",
            "properties": {
              "description": "<strong>Chipotle</strong><p>\u2022 Chicken Bowl $7.90 <br />\u2022 Chicken Burrito $7.90 <br />\u2022 Steak Bowl $8.90 <br />\u2022 Veggie Bowl $7.90</p>",
              "icon": "marker"
            },
            "geometry": {
              "type": "Point",
              "coordinates": [-122.25896, 37.86838]
            }
          },
          ]
          }
      });

      map.addLayer({
        "id": "places",
      "type": "symbol",
      "source": "trees",
      "layout": {
        "icon-image": "{icon}-15",
        "icon-allow-overlap": true
      }, 
    });

    map.addLayer({
      id: 'trees-heat',
      type: 'heatmap',
      source: 'trees',
      maxzoom: 19,
      paint: {
        // increase weight as diameter breast height increases
        'heatmap-weight': {
          property: 'dbh',
          type: 'exponential',
          stops: [
            [30, 1],
            [62, 1]
          ]
        },
        // increase intensity as zoom level increases
        'heatmap-intensity': {
          stops: [
            [11, 1],
            [15, 3]
          ]
        },
        // assign color values be applied to points depending on their density
        'heatmap-color': [
          'interpolate',
          ['linear'],
          ['heatmap-density'],
          0, 'rgba(236,222,239,0)',
          0.2, 'rgb(208,209,230)',
          0.4, 'rgb(166,189,219)',
          0.6, 'rgb(103,169,207)',
          0.8, 'rgb(28,144,153)'
        ],
        // increase radius as zoom increases
        'heatmap-radius': {
          stops: [
            [11, 15],
            [25, 20]
          ]
        },
        // decrease opacity to transition into the circle layer
        'heatmap-opacity': {
          default: 1,
          stops: [
            [14, 1],
            [15, 1]
          ]
        },
      }
    });
    map.addLayer({
      id: 'trees-point',
      type: 'circle',
      source: 'trees',
      minzoom: 14,
      paint: {
        // increase the radius of the circle as the zoom level and dbh value increases
        'circle-radius': {
          property: 'dbh',
          type: 'exponential',
          stops: [
            [{ zoom: 15, value: 1 }, 5],
            [{ zoom: 15, value: 62 }, 10],
            [{ zoom: 22, value: 1 }, 20],
            [{ zoom: 22, value: 62 }, 50],
          ]
        },
        'circle-color': {
          property: 'dbh',
          type: 'exponential',
          stops: [
            [0, 'rgba(236,222,239,0)'],
            [10, 'rgb(236,222,239)'],
            [20, 'rgb(208,209,230)'],
            [30, 'rgb(166,189,219)'],
            [40, 'rgb(103,169,207)'],
            [50, 'rgb(28,144,153)'],
            [60, 'rgb(10,108,89)']
          ]
        },
        'circle-stroke-color': 'white',
        'circle-stroke-width': 1,
        'circle-opacity': {
          stops: [
            [14, 0],
            [15, 0.25]
          ]
        }
      }
    });

    });

  //   map.on('load', function() {

  //    map.addSource('trees', {
  //      type: 'geojson',
  //      data: {     "type": "FeatureCollection",
  //          "features": [{
  //            "type": "Feature",
  //            "properties": {
  //              "description": "<strong>Li Ka Shing</strong><p>Meet me here!</p>",
  //              "icon": "marker"
  //            },
  //            "geometry": {
  //              "type": "Point",
  //              "coordinates": [-122.2654381, 37.87295843]
  //            }
  //          }, {
  //            "type": "Feature",
  //            "properties": {
  //              "description": "<strong>Valley Life Sciences Building</strong><p>Meet me here!</p>",
  //              "icon": "marker"
  //            },
  //            "geometry": {
  //              "type": "Point",
  //              "coordinates": [-122.2632638, 37.87142575]
  //            }
  //          }, {
  //            "type": "Feature",
  //            "properties": {
  //              "description": "<strong>Recreational Sports Facility</strong><p>Meet me here!</p>",
  //              "icon": "marker"
  //            },
  //            "geometry": {
  //              "type": "Point",
  //              "coordinates": [-122.2627607, 37.86867438]
  //            }
  //          }, {
  //            "type": "Feature",
  //            "properties": {
  //              "description": "<strong>Eshleman Hall</strong><p>Meet me here!</p>",
  //              "icon": "marker"
  //            },
  //            "geometry": {
  //              "type": "Point",
  //              "coordinates": [-122.2603671, 37.86875285]
  //            }
  //          }, {
  //            "type": "Feature",
  //            "properties": {
  //              "description": "<strong>Haas School of Business</strong><p>Meet me here!</p>",
  //              "icon": "marker"
  //            },
  //            "geometry": {
  //              "type": "Point",
  //              "coordinates": [-122.2536357, 37.87156086]
  //            }
  //          }, {
  //            "type": "Feature",
  //            "properties": {
  //              "description": "<strong>Evan Hall</strong><p>Meet me here!</p>",
  //              "icon": "marker"
  //            },
  //            "geometry": {
  //              "type": "Point",
  //              "coordinates": [-122.2578512, 37.87362363]
  //            }
  //          }, {
  //            "type": "Feature",
  //            "properties": {
  //              "description": "<strong>Soda Hall</strong><p>Meet me here!</p>",
  //              "icon": "marker"
  //            },
  //            "geometry": {
  //              "type": "Point",
  //              "coordinates": [-122.258722, 37.87561268]
  //            }
  //          }, {
  //            "type": "Feature",
  //            "properties": {
  //              "description": "<strong>Wurster Hall</strong><p>Meet me here!</p>",
  //              "icon": "marker"
  //            },
  //            "geometry": {
  //              "type": "Point",
  //              "coordinates": [-122.2549009, 37.87053656]
  //            }
  //          }, ]
  //        }
  //    });
  //    // add heatmap layer here
  //    // add circle layer here
  // });

    let popup = new mapboxgl.Popup({
    closeButton: false,
    closeOnClick: false
  });
   
  map.on('mouseenter', 'places', function(e) {
    // Change the cursor style as a UI indicator.
    map.getCanvas().style.cursor = 'pointer';
     
    var coordinates = e.features[0].geometry.coordinates.slice();
    var description = e.features[0].properties.description;
     
    // Ensure that if the map is zoomed out such that multiple
    // copies of the feature are visible, the popup appears
    // over the copy being pointed to.
    while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
    coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
    }
     
    // Populate the popup and set its coordinates
    // based on the feature found.
    popup.setLngLat(coordinates)
      .setHTML(description)
      .addTo(map);
  });
   
  map.on('mouseleave', 'places', function() {
    map.getCanvas().style.cursor = '';
    popup.remove();
  });

    </script>
            </div>
            <div class="column2">
                <h2>Welcome Kelly!</h2>
                <p>Tim and Nathan will be meet you at your final destination, the Recreational Sports Facility, to pick up their order. They placed 4 orders and are expecting you at roughly 10PM. You will be paid upon the successful delivery of your order.</p>
                <p>Number of Orders: 4</p>
                <table>
                  <tr>
                    <th>Order</th>
                    <th>Quantity</th> 
                    <th>Price</th>
                  </tr>
                  <tr>
                    <td><strong>Nathan: </strong>Chipotle - Chicken Bowl</td>
                    <td>2</td>
                    <td>$15.80 USD</td>
                  </tr>
                  <tr>
                    <td><strong>Tim: </strong>Chipotle - Steak Burrito</td>
                    <td>1</td>
                    <td>$8.90 USD</td>
                  </tr>
                  <tr>
                    <td><strong>Tim: </strong>Chipotle - Veggie Bowl</td>
                    <td>1</td>
                    <td>$7.90 USD</td>
                  </tr>
                </table>
                <br>
                <button type="button">Done</button>
              </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- Custom scripts for all pages-->
<script src="{{ url_for('static',filename='js/sb-admin.min.js') }}"></script>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="{{ url_for('static', filename='js/firebase_js.js') }}"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
<script>
  $(document).ready(function() {
    $('#example').DataTable( {
    "pagingType": "simple"
    });
} );

    $('button').click( function() {
        var data = table.$('input, select').serialize();
} );
</script>
<style>
.previous{
display:none;
}
</style>

</body>

</html>
